Samples/TiraggoAndroid/TiraggoAndroid/Service References/TiraggoService/TiraggoXmlClass2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.tiraggo.com/tiraggo/wcfservice/TiraggoXmlClass.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessObjects" />
  <xs:element name="Employees_LoadAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Employees_LoadAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="Employees_LoadAllResult" nillable="true" type="q1:EmployeesCollection.EmployeesCollectionWCFPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Employees_QueryForCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serializedQuery" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Employees_QueryForCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="Employees_QueryForCollectionResult" nillable="true" type="q2:EmployeesCollection.EmployeesCollectionWCFPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Employees_QueryForEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serializedQuery" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Employees_QueryForEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="Employees_QueryForEntityResult" nillable="true" type="q3:Employees" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Employees_GetByPrimaryKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Employees_GetByPrimaryKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="Employees_GetByPrimaryKeyResult" nillable="true" type="q4:Employees" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Employees_SaveCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="collection" nillable="true" type="q5:EmployeesCollection.EmployeesCollectionWCFPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Employees_SaveCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="Employees_SaveCollectionResult" nillable="true" type="q6:EmployeesCollection.EmployeesCollectionWCFPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Employees_SaveEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="entity" nillable="true" type="q7:Employees" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Employees_SaveEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="Employees_SaveEntityResult" nillable="true" type="q8:Employees" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>