Samples/TiraggoAndroid/TiraggoAndroid/Service References/TiraggoService/TiraggoXmlClass1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Tiraggo.Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Tiraggo.Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.tiraggo.com/tiraggo/wcfservice/TiraggoXmlClass.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessObjects" />
  <xs:import schemaLocation="http://www.tiraggo.com/tiraggo/wcfservice/TiraggoXmlClass.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://www.tiraggo.com/tiraggo/wcfservice/TiraggoXmlClass.svc?xsd=xsd5" namespace="www.tiraggo.com" />
  <xs:complexType name="tgCollectionWCFPacketOfEmployeesCollection6xVTLYDI">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="tgCollectionWCFPacketOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Tiraggo.Core" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="EmployeesCollection" Namespace="http://schemas.datacontract.org/2004/07/BusinessObjects" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="Collection" nillable="true" type="q1:EmployeesCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tgCollectionWCFPacketOfEmployeesCollection6xVTLYDI" nillable="true" type="tns:tgCollectionWCFPacketOfEmployeesCollection6xVTLYDI" />
  <xs:complexType name="tgEntity">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ModifiedColumns" nillable="true" type="q2:ArrayOfstring">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q3="www.tiraggo.com" minOccurs="0" name="RowState" type="q3:tgDataRowState">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tgEntity" nillable="true" type="tns:tgEntity" />
</xs:schema>