Samples/TiraggoAndroid/TiraggoAndroid/Service References/TiraggoService/TiraggoXmlClass.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TiraggoXmlClass" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.tiraggo.com/tiraggo/wcfservice/TiraggoXmlClass.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.tiraggo.com/tiraggo/wcfservice/TiraggoXmlClass.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.tiraggo.com/tiraggo/wcfservice/TiraggoXmlClass.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessObjects" />
      <xsd:import schemaLocation="http://www.tiraggo.com/tiraggo/wcfservice/TiraggoXmlClass.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Tiraggo.Core" />
      <xsd:import schemaLocation="http://www.tiraggo.com/tiraggo/wcfservice/TiraggoXmlClass.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://www.tiraggo.com/tiraggo/wcfservice/TiraggoXmlClass.svc?xsd=xsd5" namespace="www.tiraggo.com" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITiraggoXmlClass_Employees_LoadAll_InputMessage">
    <wsdl:part name="parameters" element="tns:Employees_LoadAll" />
  </wsdl:message>
  <wsdl:message name="ITiraggoXmlClass_Employees_LoadAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:Employees_LoadAllResponse" />
  </wsdl:message>
  <wsdl:message name="ITiraggoXmlClass_Employees_QueryForCollection_InputMessage">
    <wsdl:part name="parameters" element="tns:Employees_QueryForCollection" />
  </wsdl:message>
  <wsdl:message name="ITiraggoXmlClass_Employees_QueryForCollection_OutputMessage">
    <wsdl:part name="parameters" element="tns:Employees_QueryForCollectionResponse" />
  </wsdl:message>
  <wsdl:message name="ITiraggoXmlClass_Employees_QueryForEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:Employees_QueryForEntity" />
  </wsdl:message>
  <wsdl:message name="ITiraggoXmlClass_Employees_QueryForEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:Employees_QueryForEntityResponse" />
  </wsdl:message>
  <wsdl:message name="ITiraggoXmlClass_Employees_GetByPrimaryKey_InputMessage">
    <wsdl:part name="parameters" element="tns:Employees_GetByPrimaryKey" />
  </wsdl:message>
  <wsdl:message name="ITiraggoXmlClass_Employees_GetByPrimaryKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:Employees_GetByPrimaryKeyResponse" />
  </wsdl:message>
  <wsdl:message name="ITiraggoXmlClass_Employees_SaveCollection_InputMessage">
    <wsdl:part name="parameters" element="tns:Employees_SaveCollection" />
  </wsdl:message>
  <wsdl:message name="ITiraggoXmlClass_Employees_SaveCollection_OutputMessage">
    <wsdl:part name="parameters" element="tns:Employees_SaveCollectionResponse" />
  </wsdl:message>
  <wsdl:message name="ITiraggoXmlClass_Employees_SaveEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:Employees_SaveEntity" />
  </wsdl:message>
  <wsdl:message name="ITiraggoXmlClass_Employees_SaveEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:Employees_SaveEntityResponse" />
  </wsdl:message>
  <wsdl:portType name="ITiraggoXmlClass">
    <wsdl:operation name="Employees_LoadAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ITiraggoXmlClass/Employees_LoadAll" message="tns:ITiraggoXmlClass_Employees_LoadAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITiraggoXmlClass/Employees_LoadAllResponse" message="tns:ITiraggoXmlClass_Employees_LoadAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Employees_QueryForCollection">
      <wsdl:input wsaw:Action="http://tempuri.org/ITiraggoXmlClass/Employees_QueryForCollection" message="tns:ITiraggoXmlClass_Employees_QueryForCollection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITiraggoXmlClass/Employees_QueryForCollectionResponse" message="tns:ITiraggoXmlClass_Employees_QueryForCollection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Employees_QueryForEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/ITiraggoXmlClass/Employees_QueryForEntity" message="tns:ITiraggoXmlClass_Employees_QueryForEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITiraggoXmlClass/Employees_QueryForEntityResponse" message="tns:ITiraggoXmlClass_Employees_QueryForEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Employees_GetByPrimaryKey">
      <wsdl:input wsaw:Action="http://tempuri.org/ITiraggoXmlClass/Employees_GetByPrimaryKey" message="tns:ITiraggoXmlClass_Employees_GetByPrimaryKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITiraggoXmlClass/Employees_GetByPrimaryKeyResponse" message="tns:ITiraggoXmlClass_Employees_GetByPrimaryKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Employees_SaveCollection">
      <wsdl:input wsaw:Action="http://tempuri.org/ITiraggoXmlClass/Employees_SaveCollection" message="tns:ITiraggoXmlClass_Employees_SaveCollection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITiraggoXmlClass/Employees_SaveCollectionResponse" message="tns:ITiraggoXmlClass_Employees_SaveCollection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Employees_SaveEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/ITiraggoXmlClass/Employees_SaveEntity" message="tns:ITiraggoXmlClass_Employees_SaveEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITiraggoXmlClass/Employees_SaveEntityResponse" message="tns:ITiraggoXmlClass_Employees_SaveEntity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITiraggoXmlClass" type="tns:ITiraggoXmlClass">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Employees_LoadAll">
      <soap:operation soapAction="http://tempuri.org/ITiraggoXmlClass/Employees_LoadAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Employees_QueryForCollection">
      <soap:operation soapAction="http://tempuri.org/ITiraggoXmlClass/Employees_QueryForCollection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Employees_QueryForEntity">
      <soap:operation soapAction="http://tempuri.org/ITiraggoXmlClass/Employees_QueryForEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Employees_GetByPrimaryKey">
      <soap:operation soapAction="http://tempuri.org/ITiraggoXmlClass/Employees_GetByPrimaryKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Employees_SaveCollection">
      <soap:operation soapAction="http://tempuri.org/ITiraggoXmlClass/Employees_SaveCollection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Employees_SaveEntity">
      <soap:operation soapAction="http://tempuri.org/ITiraggoXmlClass/Employees_SaveEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TiraggoXmlClass">
    <wsdl:port name="BasicHttpBinding_ITiraggoXmlClass" binding="tns:BasicHttpBinding_ITiraggoXmlClass">
      <soap:address location="http://www.tiraggo.com/tiraggo/wcfservice/TiraggoXmlClass.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>